<<styleshet>
.top {
	font-family: arial;
	font-weight: bold;
	height: 200px;
	width: 100%;
	color: white;
	background-color: gray;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 1;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 2px;
	width: 150px;
	color: #ffffff;
	background-color: #808080;
}
ol {
	text-align: left;
	display: inline-block;
}
li a {
	display: block;
	color: #ffffff;
	background-color: #808080;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #FF0000;
	color: #0000FF;
}
body div p {
	color: white;
}
#sidemenu {
	height: 200px;
	width: 20%;
	z-index: 1;
	text-align: left;
	color: white;
	background-color: gray;
	float: left;
	margin: auto;
	position: center;
	z-index: 2;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	border: 2px solid black;
}
.summary {
	font-family: Times New Roman;
	height: 200px;
	width: 78%;
	background-color: gray;
	position: center;
	font-weight: normal;
	text-align: left;
	margin: auto;
	color: white;
	float: right;
	z-index: 2;
	padding-top: 5px;
	padding-left: 0px;
	padding-bottom: 50px;
}
body {
	background-color: gray;
	margin: 5px;
	padding: 5px;
	text-align: center;
}
.champs {
	font-family: Verdana;
	height: 1900px;
	width: 100%;
	font-weight: normal;
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 3;
	clear: both;
}
.gameplay {
	font-family: Times;
	height: 500px;
	width: 100%;
	font-weight: normal;
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 3;
	clear: both;
}
.map {
	font-family: Times;
	height: 2100px;
	width: 100%;
	font-weight: normal;
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 3;
	clear: both;
}
.video {
	font-family: Courier;
	height: 550px;
	width: 100%;
	font-weight: normal;
	text-align: center;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 3;
	clear: both;
}
.footer {
	font-family: serif;
	height: 100px;
	width: 100%;
	background-color: gray;
	position: fixed;
	bottom: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 4;
	clear: both;
}
img.align-center {
	display: block;
	margin: auto;
	position: middle;}
	
img.medium {
	width: 300px;
	height: 100px;}
	
